<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoAspMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="wrapper">
        <div id="headerWrapper">
            <header class="container">
                <div id="logoTitleDisplay">
                    <img src="../../img/joystick.png" id="siteLogo" />
                    <b id="title">Portal-<b>Jogos</b></b>
                </div>
                <div id="menuLinks">
                    <ul>
                        <li><a asp-action="Index">Notícias</a></li>
                        <li><a asp-action="Videos">Vídeos</a></li>
                        <li><a asp-action="Analises">Análises</a></li>
                    </ul>
                </div>
            </header>
        </div>
        
        <div id="conteudoPrincipal" class="container">
            @RenderBody()
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - ProjetoAspMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
    
</body>
</html>
