@{
    ViewData["Title"] = "Análises";
}

<div id="newsWrapper">
    <div id="contentWrapper">
        <h1 id="noticiasTitle">Análise</h1>
        <h2>Primeiro tópico</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum mattis ullamcorper velit sed. Sem et tortor consequat id porta. Dolor sit amet consectetur adipiscing elit ut aliquam purus sit. Consequat ac felis donec et odio pellentesque. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Condimentum mattis pellentesque id nibh tortor id. Lectus arcu bibendum at varius vel.</p>
        <h2>Segundo tópico</h2>
        <p style="display: inline;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum morbi blandit cursus risus. Dolor magna eget est lorem ipsum dolor sit. Lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor. Bibendum enim facilisis gravida neque convallis. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio.</p>
        <h2>Terceiro tópico</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Non diam phasellus vestibulum lorem sed. Viverra nam libero justo laoreet sit amet. Accumsan lacus vel facilisis volutpat est velit. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Placerat orci nulla pellentesque dignissim enim sit.</p>
        <h2>Conclusão</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Egestas dui id ornare arcu odio ut sem nulla. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Id volutpat lacus laoreet non. Velit euismod in pellentesque massa placerat duis ultricies. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Sed risus ultricies tristique nulla aliquet enim tortor at.</p>
        <img src="~/img/imagemjogo4.jpg" style="width: 300px;" />
    </div>
    <div id="lateralNav">
        <h2>Ultimas notícias</h2>
        <div class="smallNewsCard">
            <img src="../img/imagemjogo1.jpg" />
            <div>
                <h3>Notícia 1</h3>
                <p>mi proin sed libero enim sed faucibus turpis in eu mi...</p>
            </div>
        </div>
        <div class="smallNewsCard">
            <img src="../img/imagemjogo2.jpg" />
            <div>
                <h3>Notícia 2</h3>
                <p>vestibulum mattis ullamcorper velit sed ullamcorper m...</p>
            </div>
        </div>
        <div class="smallNewsCard">
            <img src="../img/imagemjogo3.jpg" />
            <div>
                <h3>Notícia 3</h3>
                <p>at tellus at urna condimentum mattis pellentesque id ...</p>
            </div>
        </div>
        <div class="smallNewsCard">
            <img src="../img/imagemjogo4.jpg" />
            <div>
                <h3>Notícia 4</h3>
                <p>nunc vel risus commodo viverra maecenas accumsan lacu...</p>
            </div>
        </div>

    </div>
</div>