@{
    ViewData["Title"] = "Notícias";
}

<h1>
    Notícias
</h1>
<div class="newsContainer">
    <div class="newsCard">
        <img src="img/imagemjogo1.jpg" />
        <div>
            <h2>Notícia 1</h2>
            <p>Notícia qualquer sobre qualquer coisa importante!</p>
        </div>
    </div>
</div>
<div class="lateralNav">
    <h2>Teste</h2>
</div>