*{
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#conteudoPrincipal{
    margin-bottom: 65px;
}

/*Configurações do header*/

#headerWrapper {
    background-color: black;
}

#headerWrapper .container {
    display: grid;
    grid-template-columns: 50% 50%
}

#headerWrapper img {
    height: 150px
}

#headerWrapper b {
    color: white;
    font-size: 50px;
    margin: auto 25px;
}

#headerWrapper b b {
    color: dodgerblue;
    margin-left: 0px;
}

#logoTitleDisplay {
    display: flex;
    margin: auto 15px;
}

#menuLinks {
    display: flex;
    margin: auto 15px auto auto;
}
#menuLinks ul {
    display: inline-block;
    margin: auto 25px;
}

#menuLinks li {
    list-style: none;
    display: inline-block;
    margin: auto 10px;
    font-size: 35px;
}

#menuLinks a {
    text-decoration: none;
    color: white;
}

/*Configuração do conteudo principal das noticias*/

#newsWrapper {
    display: grid;
    grid-template-columns: 75% 25%;
}

#newsContainer {
    padding: 0 10px;
}

#noticiasTitle {
    margin: 15px auto;
    text-align: center;
}

.newsCard {
    margin: 5px;
    display: grid;
    grid-template-columns: 24% 74%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
    justify-content: space-between;
}

.newsCard img {
    width: 100%;
}

.newsCardContent {
    margin: auto 0px;
}

#lateralNav {
    border-left: 1px solid gray;
    margin: 15px;
    padding: 10px;
}

#lateralNav .smallNewsCard {
    display: grid;
    grid-template-columns: 45% 50%;
    margin-top: 15px;
    justify-content: space-between;
}

#lateralNav img {
    width: 100%;
    border-radius: 5px
}

/*Configurações do conteudo principal dos videos*/

#videosWrapper {
    display: grid;
    grid-template-columns: 75% 25%;
}

#videoPrincipal {
    position: relative;
    height: 550px;
    display: flex;
    margin: 10px;
}

#videoPrincipal img {
    width: 100%;
}

#videoPrincipal h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 85%;
    left: 1%;
}

/*Configurações do conteudo principal das análises*/

#analisesWrapper {
    display: grid;
    grid-template-columns: 75% 25%;
}